:root{
    --cor-principal: #B9FF66;
    --cor-secundaria: #191A23;
    --cor-terciaria: #F3F3F3;
    --cor-quaternaria: #525252;
    --cor-fonte-principal: #0f0f0f;
    --cor-fonte-secundaria: #1b1c25;
    --cor-fonte-terciaria: #F2F2F2;
    --cor-fonte-quaternaria: #515153;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
}

html, body{
    height: 100%;
}

.container{
    max-width: 1440px;
    padding: 0 2%;
    margin: 0 auto;
}

.btn-dark{
    text-decoration: none;
    color: var(--cor-fonte-terciaria);
    background-color: var(--cor-secundaria);
    padding: 12px 12px;
    border-radius: 10px;
}

.model1{
    background-color: var(--cor-terciaria);
}

.model2 {
    background-color: var(--cor-principal);
}

.model3, .model4 {
    background-color: var(--cor-secundaria);
}

div.titulo{
    display: flex;
    flex-direction: row;
}

div.titulo h2{
    background-color: var(--cor-principal);
    color: var(--cor-fonte-principal);
    font-size: 40px;
    padding: 2px 8px;
    border-radius: 8px;
}

div.titulo p{
    color: var(--cor-fonte-quaternaria);
    font-size: 14px;
    padding-top: 12px;
    padding-left: 10px;
    max-width: 600px;
}

h3{
    font-size: 30px;
}

h4{
    font-size: 20px;
}

p{
    font-size: 18px;
}

a{
    text-decoration: none;
    color: var(--cor-fonte-principal);
}


/* ===== ESTILIZAÇÃO DO HEADER  ===== */
header div.mobile{
    display: none;
}

header div.navegacao{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0;
}

header div.navegacao div.logo a{
    font-size: 30px;
    text-decoration: none;
    color: var(--cor-fonte-secundaria);
}

header div.navegacao div.logo a span{
    color: #B9FF66;
}

header div.desktop ul li{
    display: inline-block ;
}

header div.desktop ul li a{
    text-decoration: none;
    color: var(--cor-fonte-secundaria);
    padding: 0 10px;
}

header div.destaque-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header div.header-text{
    max-width: 500px;
}

header div.header-text h2{
    font-size: 60px;
    padding: 20px 0;
    color: var(--cor-fonte-principal);
}

header div.header-text p{
    font-size: 16px;
    padding: 20px 0 30px 0;
}

header div.header-image img{
    width: 500px;
}

header div.brands{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}

/* ===== ESTILIZAÇÃO DA SESSÃO SERVIÇOS  ===== */
section.servicos{
    margin-top: 20px;
}

section.servicos div.card-group{
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    margin-top: 30px;
}

section.servicos div.card-single{
    width: 600px;
    height: 310px;
    padding: 50px;
    border: 1px solid var(--cor-quaternaria);
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

section.servicos div.card-single div.content{
    width: 210px;
    height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

section.servicos div.card-single div.content div.learn-more{
    display: flex;
    flex-direction: row;
    align-items: center;
}

section.servicos div.card-single div.content div.learn-more img{
    margin-right: 15px;
    width: 41px;
    height: 41px;
}

section.servicos div.card-single div.img{
    width: 210px;
}

.model1 h4{
    background: var(--cor-principal);
}

.model2 h4, .model3 h4{
    background: var(--cor-terciaria);
}

.model4 h4{
    background: var(--cor-principal);
}

.model3 a, .model4 a{
    color: white;
}

/* ===== ESTILIZAÇÃO DA SESSÃO CTA 1  ===== */
section.cta-1 div.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px;
    border-radius: 30px;
    margin-top: 60px;
    margin-bottom: 60px;
    height: 347px;
}

section.cta-1 div.text{
    display: flex;
    flex-direction: column;
    align-items: start;
}